body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Make the entire page clickable with the background image */
  .background-link {
    display: block;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('img/landingpageV3.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center; /* Centers the image */
    text-decoration: none; /* Removes underline for the link */
  }
  
  .background-link:hover {
    filter: brightness(0.9);
    transition: filter 0.3s ease;
  }